body {
    font-family: sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
}

h1 {
    margin: 0;
}

.search-bar {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #070707;
    font-size: 16px;
    margin-right: 10px;
}

.login-button {
    background-color: rgba(9, 7, 151, 0.897);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
}

.login-button:hover {
    background-color: rgba(56, 53, 233, 0.897);
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.left-column,
.right-column {
    width: 48%;
}

.entry,
.definition {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid #333;
    margin-bottom: 20px;
}

.entry-left,
.entry-right {
    display: flex;
    flex-direction: column;
}

.entry-left h2,
.entry-left p {
    margin: 0;
}

.entry-left {
    width: 40%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.entry-right {
    width: 60%;
}

.entry {
    display: flex;
    justify-content: space-between;
}

.entry h2,
.definition h2 {
    margin-top: 0;
}

.entry p,
.definition p {
    margin-bottom: 10px;
}

.likes {
    background-color: rgba(192, 192, 62, 0.863);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.likes:hover {
    background-color: rgba(192, 192, 62, 0.863);
}

.button {
    background-color: rgba(192, 192, 62, 0.863);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover {
    background-color: rgba(192, 192, 62, 0.863);
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.popup h3 {
    margin-top: 0;
}

.popup button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgba(192, 192, 62, 0.863);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup button:hover {
    background-color: rgba(192, 192, 62, 0.863);
}

.blue {
    color: blue;
    /* Color azul */
    text-decoration: underline;
    /* Subrayado */
}